h3 {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.top-commands {
    position: absolute;
    right: 1rem;
}

@media (max-width: 640.98px) {
    .top-commands {
        position: fixed;
        right: 1rem;
        z-index: 99;
    }
}
