
.top-commands {
    margin-bottom: 1rem;
}

.bottom-commands {
    margin-bottom: 1rem;
}

.commands {
    padding-bottom: 1rem;
}

@media (min-width: 641px) {
    .commands {
        position: absolute;
        top: 0;
        justify-content: flex-end;
        width: 100%;
    }
}

@media (max-width: 640.98px) {
    .edit-form {
        margin-bottom: 3rem;
    }
}
