@using ReceiptApp.Services;
@inject ImageService ImageService

@if (Visible)
{    
    <div class="text-center">        
        @if (isLoading)
        {
            <Loader LoadingDetail="Image" />
        }
        else
        {
            <div style="display:@(Visible ? "inline" :"none") ">
                <img class="receipt-image" src="@ImageUrl" />
            </div>
        }
        @if (!string.IsNullOrEmpty(Message))
        {
            <p>@Message</p>
        }
    </div>
}

@code {
    [Parameter]
    public string ReceiptId { get; set; } = "";
    [Parameter]
    public bool Visible { get; set; } = true;

    private string ImageUrl = "";
    private bool isLoading = false;
    private string Message = "";

    protected override async Task OnParametersSetAsync()
    {
        if (string.IsNullOrEmpty(ImageUrl) && Visible)
        {
            await LoadImageUrl();
        }
    }

    private async Task LoadImageUrl()
    {
        isLoading = true;
        ImageUrl = await ImageService.GetImageURL(ReceiptId);
        if (string.IsNullOrEmpty(ImageUrl))
        {
            Message = "Image Not Available";
        }
        isLoading = false;
    }
}
