@using ReceiptApp.Model;
@using System.Globalization;

@foreach (var month in Receipts.GroupBy(r => new { month = r.day.Month, year = r.day.Year }))
{
    <h3 class="tableHeader">
        <span>
            @FormatMonthName(month.Key.month, month.Key.year)
        </span>
        <em>
            @FormatTotal(month)
        </em>
    </h3>
    <ReceiptsTable Receipts="month" ShowTableHeader="false" OnSelectedReceipt="SelectReceipt" />
}
@code {
    [Parameter]
    public IEnumerable<ReceiptListItem> Receipts { get; set; } = new List<ReceiptListItem>();

    [Parameter]
    public EventCallback<string> OnSelectedReceipt { get; set; }      

    private string FormatMonthName(int month, int year)
    =>
    $"{CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(month)} {year}";

    private string FormatTotal(IEnumerable<ReceiptListItem> items)
    =>
    $"€{items.Sum(i => i.total)}";

    private async Task SelectReceipt(string id)
    {        
        await OnSelectedReceipt.InvokeAsync(id);        
    }
}
