.file-input-group {
    width: 20rem;
}

.receipts-header {
    display: flex;
    justify-content: space-between;
}

    .receipts-header .header-actions {
        padding-right: 0.5rem;
    }

.edit-receipt {
    margin-top: 1rem;
    padding: 0;
    border-left: 2px solid black;
}

.edit-receipt-content {
    padding: 2rem 1rem 1rem 1rem;
}

.commands {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 640.98px) {
    .commands {
        position: fixed;
        justify-content: space-between;
        z-index: 99;
        width: 100%;
        bottom: -0.5rem;
        background-color: black;
        margin-left: -1.5rem;
        margin-bottom: 0;
        padding: 0.5rem;
    }
}
