<AuthorizeView>
    <NavLink title="Receipts" class="nav-link" href="receipts">
        <i class="fas fa-receipt"></i> 
        <span class="d-none d-sm-inline">Receipts</span>
    </NavLink>
    <NavLink title="Stats" class="nav-link" href="stats">
        <i class="fas fa-chart-area"></i> 
        <span class="d-none d-sm-inline">Stats</span>
    </NavLink>
</AuthorizeView>