@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>

        <button class="nav-link btn btn-link logout-button d-none d-sm-inline" @onclick="BeginSignOut">Log out</button>
        <span title=@GetName(context.User)>
            <i class="fas fa-user"></i>
        </span>

    </Authorized>
    <NotAuthorized>
        <NavLink class="nav-link" href="authentication/login">
            <span class="d-none d-sm-inline">
                Log in
            </span>
            <i title="Not Logged in user" class="far fa-user"></i>
        </NavLink>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    private string GetName(System.Security.Claims.ClaimsPrincipal claims)
    {
        var usernameClaim = claims.Claims.FirstOrDefault(c => c.Type == "username");
        if (usernameClaim is null)
        {
            return "";
        }
        return usernameClaim.Value;
    }
}
