@using ReceiptApp.Components
@inherits LayoutComponentBase

<div class="page">

    <div class="main">
        <div class="top-row px-4">
            <span class="actions">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <i class="fas fa-home d-none d-sm-inline"></i> Home
                </NavLink>                
                <AuthorizedNavMenu />
            </span>
            <span class="login">
                <LoginDisplay />
            </span>
        </div>

        <div class="px-4">
            <LoaderNotification />
        </div>

        <main class="content px-4">
            @Body
        </main>
    </div>
</div>
